body {
    color: rgb(15, 91, 135);
    font-family: Verdana, Arial, Geneva, Tahoma, sans-serif,;
    font-weight: normal;
    background-color: #af79ff;
    font-size: 25px;
}

h1 {
    text-decoration: underline;
    font-size: 150%;
}

h2 {
    text-decoration: underline;
    font-size: 150%;
}

p.para1 {
    color: rgb(112, 112, 190);
}

p.para2 {
    width: 700px;
    height: 150px;
    background-color: antiquewhite;
    color: rgb(128, 0, 28);
    overflow: scroll;
    position: relative;
    /*overflow: hidden;
    overflow: visible;*/
}

p.para3 {
    color: purple;
    font-size:  15px;
    line-height: 1.5em;
    background-color: #e5e4d7;
    padding: 20px 20px 20px 20px;
    border: black 2px solid;
}

p.para4{
    color: black;
    font-size: 15px;
    background-color: #e5e4d7;
    padding: 20px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    margin: 20px;
    margin-top: 50px;
    margin-left: 400px;
    overflow: visible;
}

image {
    display: black;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    padding: 3px;
    background-color: silver;
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

#panel {
  padding: 50px;
  display: none;
}